body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gradientbackground{
    position: relative;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg,#F8CB46 0,#318616 100%);
    background-repeat: no-repeat;
    height: 638px;
    width: 100%;
    margin-bottom: 55px;
    
}
.imagemain{
    position: absolute; 
    /* border: 2px solid red; */
    width: 100%;
}
.imagemain>div{
   
    /* border: 2px solid black; */
    width: 75%;
    margin: auto;
}
.imagemain>div>img{
    margin-top: 70px;
    height: 400px;
    width: 100%;
}
.Headin_gunder_image{
    color: #ffffff;
    line-height: 37px;
    text-align: center;
    box-sizing: border-box;
    font-size: 45px;
    font-weight:bolder
}
.field{
    margin: auto;
    width: 90%;
    margin-bottom: 50px;
    color: #333;
}
.field>h4{
   font-size: 38px;
   font-weight: 400;
   margin:0px 0px 16px

}
.field p{
    font-size: 18px;
}

.conTA{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    line-height: 0.3;
   
    gap:30px
}
.conTA>div{
    border: solid #ccc 1px;
    text-align: center;
    height: 130px;
}
.conTA>div>h4{
    margin-top: 50px;
}
.conTA>div>p{
    color:#318616;
}
.field>p{
    margin-bottom: 25px;
    color: #1f1f1f;
}
.field img{
    width: 100%;
    height: 450px;
}
.field>.conTA2{
    display :grid ;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.conTA2>div>img{
    width: 100%;
    height: 320px;
}
.conTA2>div>h5{
    font-size: 20px;
    color: #333;
}
.conTA2+img{
    width: 100%;
    height: 340px;
}
.field>div>h3{
    border-top: 1px solid #333;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;

}
.field>div>h3:nth-last-child(){
    border-top: 1px solid rgb(84, 83, 83);
    border-bottom: 1px solid #333;

    padding-top: 25px;

}

@media(max-width:992px){
    .conTA{
        grid-template-columns: repeat(1,1fr);
    }
    .field>.conTA2{
      
        grid-template-columns: repeat(1,1fr);
      
    }
    .conTA>div{
        border: solid #ccc 1px;
        text-align: center;
        height: 200px;
    }
}