@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,800&family=Source+Serif+4:wght@200;300;400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: sans-serif;
} 
body{
    margin: 0;
    padding: 0;
    color: rgb(31,31,31);
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color:#f8cb46 ;
    color: white;height: 58px;
}
.logo>img{
    
    max-height: 30px;
    max-width: 105px;
}
.menU{
    display: flex;
    margin: 0;
    padding: 0;
}
.menU>li{
    list-style: none;
    padding: 19px 0px 16px;
}
li>a{
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: #1f1f1f;
    font-weight: 700;
    font-stretch:wider;
    letter-spacing: 0.5px;
    
}
li>a:hover{
    text-decoration: underline;   
}
.last{
    margin-right: 30px;
}

.dropbtn{
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.dropbtn .bar{
    height: 3px;
    width:100%;
    background-color: rgb(31,31,31);
    border-radius: 10px;
    
}
.dropdownContent{
    display: none;
}


#myDropdown{
    position: absolute;
    z-index: 10;
    right: 0;
    line-height:0.2;
    
  }
@media(max-width:992px){
    .menU{
        display: none;
        flex-direction: column;
    }
    .logo>img{
        margin-top: -25px;
      }
    #header{
        flex-direction: column;
        align-items: flex-start;
    }
    .logo>img{
      margin-top: -25px;
    }
}


.dropdown-content {
  margin-top:-30px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 400px;
  overflow: auto;
  border: 4px solid red;

}

.dropdown-content a {
    margin-top: 20px;
  color: black;
  padding: 12px 45px;
  text-decoration: none;
  display: block;
  
}
.dropdown-content a:first-child{
    margin-top: 120px;
}

.dropdown a:hover {
    text-decoration: underline;
    text-decoration-color: green;
}

.show {display: block;}