
#mainheaderM1{
    position: fixed;
    z-index: 3;
    background-color:rgb(248,203,70);
    height: 65px;
    width: 100%;
    margin-left: -8px;
    top: 0;
}

html{    
    font-size: 16px;
}
#lM1{
    /* width: 102px;     */
    margin-left: 14px;
}
#lM{
    width: 67%;
    height: 100%;
}
#ulM{   
    /* line-height: 0vh; */
    
    display: grid;    
    grid-template-columns: 10vw 14vw 49.5vw 4.3vw 9.7vw 10vw;
    align-items: center;
    position: sticky; 
    width: 100%;
    height: fit-content;
    margin-top: 0;
    padding: 0;
    height: 65px;
    gap: 10px;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    
}
#ulM li{
    list-style-type: none;
    float: left;
    align-items: center;
    /* text-align: center; */
    
}
#ulM a{
    text-decoration: none;
    color: black;
    
}
#searchM2{
    width: 100%;
    height: 44px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border: none;
    padding-left: 20px;
}
#searchM1{
    height: 30px;
    vertical-align: middle;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: white;
    color: rgb(167, 175, 180);
    font-size: 1.3rem;
    padding: 10px 0px 4px 15px;
}
#lM2{
    font-size: 0.6rem;
    width: 100%;
    /* line-height: 0vh; */
}
#mapL{
    font-size: 0.7rem;
}
#lM3{
    padding: 9px;
}
#mapM{
    font-size: 0.7rem;
    line-height: 1;
    padding: 0;
    margin-top: -10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
#randomDelivery{
    font-size: 19px;
    margin-top: -1px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
#blurpopM{
    /* background-color: rgb(0,0,0,0.5); */
    z-index: -7;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    left: 0;
}
#locationPopM{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position:fixed;
    z-index: 5;
    border: 1px solid black;
    width: 450px;
    visibility: hidden;
    opacity: 0;
    padding: 10px 0px 15px 30px;
    font-size: 13px;
    background-color: rgba(252, 252, 252, 0.885);;
    margin-left: 90px;
    /* margin-top: 62px; */
    /* backdrop-filter: blur(10px); */ 
       
}

#locationPopsubM{
    display: flex;
    flex-flow: row;
    align-items: center;
}
#locationPopsubM1{
    color: rgb(255, 255, 255);
}
#locationPopsubM11{
    background-color: #318616;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}
#locationPopsubM2{
    border:1px solid grey;
    padding:6px;
    border-radius: 50%;
}
#locationPopsubM31{
    height: 35px;
    width: 200px;
}
#locup1{
    font-size: 30px;
    /* position: relative; */
    z-index: 7;
}
#locup{
    margin-top: -21px;
    margin-left: 100px;
    color: rgba(252, 252, 252, 0.885);
}
#appendCNM{
    margin-left: 197px;
    margin-right: 50px;
}
#visibleCityM:hover{
    background-color: rgb(3, 119, 127);
    padding-left: 5px;
    line-height: 15px;
    color: white;
    height: 19px;
}
#crossM{
    margin-left: 410px;
    border: 1px solid rgb(142, 142, 142);
    padding: 3px 5px;
    background-color: black;
    color: white;
}
#lM5M{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #318616;    
    justify-content: center;
    padding:15px 5px;
    border-radius: 9px;
}
#h5CM{
    margin:auto;
    font-size: 13px;
    color: white;
}
#lM6{
    padding: 10px;
}
#lM4{
    font-size: 1.1em;
    text-align: center;
    font-weight: 600;
}
#loginpartofthiswebsite{
    z-index: 7;
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.367);
}
#otpinpartofthiswebsite{
    z-index: 7;
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.367);
}