.ft1{
    width: 81%;
    margin: auto;
    background-color: #fcfcfc;
    /* padding: 20px;
    padding-left: 20px; */
}
 .footer-content {
    
     font-weight: 500;
     border-top:1px solid #eee ;

 }

 .footer-content>h1,
 h2 {
     color: #000;
     line-height: 1.5;
     font-size: 14px;
     font-weight: 200;

 }

 .footer-content>p {
     font-size: 14px;
     color: #666;
     
 }

 .first-row {
     /* width: 1220px; */
     height: 154px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 14px;
 }

 .first-row>div {
     display: inline-flex;
     width: 305px;
     height: 74px;
     box-sizing: border-box;
     padding: 5px;

 }

 .first-row>div>div {
     display: inline-flex;
     padding: 5px;
     flex-direction: column;
 }

 .first-row>div>div>img {
     margin-top: 5px;
     width: 56px;
     height: 56px;
 }
 .cities{
     font-size: 14px;
 
 }
.cities>span{
color: #666;
opacity: 5;
}
 .deliver1>div {
     /* margin-bottom: 8px; */
     padding: 5px;
     
 }
 .deliver1>div>div:nth-child(1) {
     font-size: 16px;
 
 }
 .deliver1>div>div {
     margin-bottom: 8px;
 
 }
 .deliver1>div:nth-child(2)>div:nth-child(2) {
     margin-bottom: 8px;
     color: #666;
 }

 .second-row {
     display: flex;
     width: auto;
     border-right: 1px solid black;
     height: 365px;
     border-bottom: 1px solid #eee;
     border-top: 1px solid #eee;
     padding: 30px;
 }
 .second-row>div{
     display: flex;
     font-size: 15px;
 }

 .leftsecond>ul {
     display: block;
     list-style-type: disc;
     margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
     /* list-style: none; */
     font-size: 14px;
 }

 .leftsecond {
     display: flex;
     box-sizing: border-box;
     width: 510px;
     height: 365px;
     flex-direction: column;
     border-right: 1px solid #eee;
 }
 .leftsecond>ul>li{
  
   
     display: inline-table;
line-height: 2;
width: 45%;
color: #666;
 }
 .leftsecond>ul>li:hover{
     cursor: pointer;
     text-decoration: underline;
 }
 .rightsecond{
     /* display: flex; */
     width: 800px;
     height: 365px;
     margin-top: -20px;
 }
 .rightsecond>ul{
     display: flex;
     
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
 }
 .rightsecond>ul>li:nth-child(1){
     font-size: 15px;
 }
 .rightsecond>ul>li{
     display: inline-table;
     color:#666;
line-height: 2;
width: 220px;
height: 174px;
font-size: 14px;
}
.rightsecond>ul>li>div>div:hover{
cursor: pointer;
     text-decoration: underline;
}
.container_follow{
display: flex;
}
 .follow1{
     width: 546px;
     height: 84px;
     display: flex;
     align-items: center;
     font-size: 12px;
     font-weight: 500;
     border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
 }
 .follow1>ul{
     padding-inline-start: 20px;   
 }
 .follow1>ul>li{
     display: inline-flex;
   

     
 }
 .follow1>ul>li:nth-child(5){
    padding: 5px;
  

     
 }
 .follow2{
     display: inline-flex;
     align-items: center;
     
 }
 .follow1>ul>li>i{
     font-size: 30px;
     margin-left: 15px;
     border-radius: 50%;
  
 }

 .follow2>div{
     display: inline-flex;  
      
 }
 .follow2>div>div>img{
width: 150px;
margin-left: 10px;

 }
.third-row{
display: inline-block;
min-height: 1px;
/* float: left; */
box-sizing: border-box;
vertical-align: top;
color: #666;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;

}
.third-row>h3{
color: #000;
font-weight: 200;
font-size: 16px;
}
.third-row>ul{
display: flex;
flex-wrap: wrap;

line-height: 22px;
list-style: none;
padding: 0;
text-align: justify;
}
 .third-row>ul>li{
     font-size: 14px;
 margin-right: 20px;
 display: list-item;
 line-height: 22px;
 cursor: pointer;

 }
 .third-row>ul>li:hover{
     cursor: pointer;
     text-decoration: underline;
 }
.paymetoption{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 32px;
    color: #000;
border-bottom: 1px solid #eee;
}
.paymetoption>div{
 margin-right: 10px;
width: 60px;
height: 60px;
display: inline-block;
}
.paymetoption>div>img{
    width: 60px;
    height: 60px;
}
.paymetoption>span{
display: flex;
margin-left: 10px;
align-items: center;
    justify-content: center;
}
.bottom2,.bottom1{
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
color: #666;
font-size: 14px;
line-height: 1.6;
padding: 16px 0;
text-align: left
}
.paymentcontainer>h3{
font-weight: 200;
font-size: 16px;

}