body{
    font-family:Arial, Helvetica, sans-serif;
}
#frContainer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:fit-content;
    gap: 15px;
    margin-top: 20px;
    
}
#father
{
    padding: 10px 20px;
    border: 1px solid #d2d2d2;
    line-height: 0.5;
    border-radius: 10px;

}
#priceT{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
#frPrice{
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
    height: 30px;
    border-width: 0.5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#frTop{
    font-size: 18px;
    font-weight: bold;
}
.frprice1{
    font-size: 16px;
    font-weight: bold;
}
.frprice2{
    font-size: 12px;
    font-weight: bold;
}
.naam{
    font-size: 14px;
}
